.venv/
.venv-macos/
venv/
.env
__pycache__/
*.pyc
*.egg-info/
.ipynb_checkpoints/
.DS_Store
._*
logs/
data/raw/
data/interim/
data/processed/
creditcard.csv
*.parquet
*.zip
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.bz2
*.xz
*.7z
*.rar
models/
experiments/
reports/*.pdf
reports/*.html
