[submodule "external/tent_official"]
	path = external/tent_official
	url = https://github.com/DequanWang/tent.git
[submodule "external/sar_official"]
	path = external/sar_official
	url = https://github.com/mr-eggplant/SAR.git
[submodule "external/poem"]
	path = external/poem
	url = https://github.com/yarinbar/poem.git
